# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: local
    hooks:
    -   id: ruff-format
        name: ruff format
        entry: da_python/.venv/bin/ruff format
        language: system
        types_or: [python, pyi]
        files: ^da_python/
    -   id: ruff-lint
        name: ruff lint
        entry: da_python/.venv/bin/ruff check --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi]
        files: ^da_python/
#    -   id: mypy
#        name: mypy
#        entry: da_python/.venv/bin/mypy
#        language: system
#        types_or: [python, pyi]
#        files: ^da_python/
    -   id: pytest
        name: pytest
        entry: da_python/.venv/bin/pytest
        language: system
        types_or: [python]
        pass_filenames: false
        always_run: true
        verbose: true
        files: ^da_python/
